@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html {
  box-sizing: border-box;
}

*{
	padding: 0;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image:url(../img/heaven.jpg);
  height: 1700px;
  padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;

	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
  font-size: 600% !important;
  font-family: average mono!important;
  font-weight: 900!important;
  color: white!important;
}

.col-md-4 h1{
  font-size: 250%!important;
  font-family: sans-serif;
}

.col-md-4 p, {
  margin: auto;
  font-weight: bolder;
  font-family: sans-serif;
  width: 70%;
}

input{
  margin-top: 10%!important;;
  width: 280px;
  height: 45px;
  text-align: center;
  font-family: sans-serif!important;
  font-size: 150%!important;
}

button{
  font-size: 150%!important;
  color: white!important;
  background-color: #46708C!important;
  font-family: sans-serif !important;
  font-weight: bolder!important;;
  border-radius: 3%;
  border: 1px solid gray;
  margin-top: 2%!important;
  background-color: white;
  width: 280px;
  height: 45px;
}

.zodiacs p, .zodiacs h4{
  font-size: 150%!important;
  width: 85%;
  margin: auto;
  color: white;
}

.zodiacs h1{
  color: #9D8969;
  margin-top: 5%;
}

.zodiacs img{
  margin-top: 1%;
  /*height: 300px;
  width: 300px;*/
}


/*img { 
height: 300px;
width: 300px; }
*/

















